
/****************************************************************/
/*************** GENERAL ***************/
/****************************************************************/

body {
	background-color: #FDF5EA;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Helvetica, Arial, Heveltica Neue, sans-serif !important;

}

h2 {
	font-size: 5rem;
	font-weight: 300;
	color: #333333;
}

p {
	font-family:"Roboto Slab", Georgia,Times,Times New Roman,serif;
	font-size: 1.6rem;
	line-height: 2.7rem;
	color:#333333;
	word-spacing: 0.025rem;
	letter-spacing: 0.025rem;

}

a {
	font-family: "Open Sans", Helvetica, Arial, Heveltica Neue, sans-serif !important;
	color: #E5A521;
}

a:hover {
	color: #E5A521;
	font-weight: 700;

}

.feature-icon i {
	color: #E5A521;
}

.section-title {
	border-bottom: 1px solid #E5A521;
}
/****************************************************************/
/*************** HEADER ***************/
/****************************************************************/

.site-header {

	background-color: #333333;
	border-bottom: 2px solid #E5A521;
}

.main-navigation li a {
	
	color: #FDF5EA;
	font-size: 2rem;
}

.main-navigation li a:hover {

	color: #E5A521;
}

/****************************************************************/
/*************** OFF CANVAS ***************/
/****************************************************************/


.mobile-menu-trigger {
	background-color: #FDF5EA;
}

.mobile-menu-trigger i{
	color: #E5A521;
}

.mobile-nav {

	background-color: #333333;

}

.mobile-nav ul li a {

	color: #FDF5EA;
	border: none;
}

.mobile-nav ul li a:hover{

	color: #333333;
	background-color: #E5A521;
}

.mobile-nav ul {
	border: none;
}


/****************************************************************/
/*************** SLIDER ***************/
/****************************************************************/



.slide-caption h2 {
	color: #FDF5EA;
	text-transform: none;
	font-weight: 600;


}

.slide-navigation .slide-prev i, .slide-navigation .slide-next i{ 
	color: #FDF5EA;
}


.slide-navigation .slide-prev i:hover, .slide-navigation .slide-next i:hover{
	color: #E5A521;
}

.slide-button {

	font-family: "Open Sans", Helvetica, Arial, Heveltica Neue, sans-serif !important;
	border: 2px solid  #FDF5EA;
	color: #FDF5EA;
}

.slide-button:hover {

	border: 2px solid  #E5A521;
	color:  #E5A521;
	font-weight: 400;
	}